<!DOCTYPE html>
<html>
	<head>
		<title>Searcher</title>
		<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
		<script>
			var ws = new WebSocket('{{api}}/ws');
			ws.onmessage = function(event) {
				const data = JSON.parse(JSON.parse(event.data))
				console.log(data)
				const newPos = document.getElementById(`i-${data.row}-${data.col}`)
				const oldPos = document.getElementById(`i-${data.oldRow}-${data.oldCol}`)
				newPos.className= data.finished ? 'w-4 h-4 bg-blue-700' : 'w-4 h-4 bg-blue-400'
				if(oldPos) oldPos.className='w-4 h-4 bg-violet-200 flex justify-center items-center'
				if(data.finished == true){
					console.log('finished')
					for(pos of data.path){
						const pathUnit = document.getElementById(`i-${pos[0]}-${pos[1]}`)
						const internalPath = document.createElement("div");
						internalPath.className = 'w-3 h-3 bg-sky-600 rounded'
						pathUnit.appendChild(internalPath)
					}
				}
				document.getElementById('visited').innerHTML = 'Visited: '+ data.visited
				document.getElementById('left').innerHTML = 'Left: '+ data.left
				document.getElementById('iterations').innerHTML = 'Iterations: '+ data.iterations
				document.getElementById('time').innerHTML = 'Time: '+ data.time
				//if(data.finished) ws.close()
			};
			function sendStart(event){
				let delay = document.getElementById("delay")
				let alg = document.querySelector('input[name="alg"]:checked').value;
				ws.send(JSON.stringify({action: 'start', delay: parseFloat(delay.value), alg: alg }))
				event.preventDefault()

			}
		</script>
	</head>
	<body>
		<div class="w-screen flex flex-col justify-start items-center">
			<h1 class="text-2xl text-slate-700 font-semibold">Visual Maze Solution Searcher v2 by Juanpurpp</h1>
			<div class="w-full flex flex-row p-4">
				<div id="maze" class="w-full bg-blue-100 p-2 rounded-md border-2 border-sky-200 justify-center items-center">
					{{#list}} {{/list}}
				</div>
				<form class="w-full flex flex-col space-y-2 justify-start p-4" action="" onsubmit="sendStart(event)">
					<div class="w-full flex flex-row justify-start items-center">
						<p>Delay: </p>
						<input class="m-1 p-0.5 rounded-md border border-slate-500" type="number" id="delay" value="0.005" min="0" max="50" step="0.005" required autocomplete="off"/>
					</div>
					<div class="w-full flex flex-row justify-start items-center space-x-3">
						<div class="flex flex-row items-center space-x-1">
							<input type="radio" id="breadth" name="alg" value="breadth" checked />
							<label for="breadth">Breadth First Search</label>
						</div>
						<div class="flex flex-row items-center space-x-1">
							<input type="radio" id="depth" name="alg" value="depth" checked />
							<label for="depth">Depth First Search</label>
						</div>
						<div class="flex flex-row items-center space-x-1">
							<input type="radio" id="best" name="alg" value="best" />
							<label for="best">Best First Search</label>
						</div>
					</div>
					<div class="w-full flex flex-row justify-center mt-32">
						<button class="w-full border border-slate-600 bg-slate-100 px-2 py-1 rounded mt-4">Start</button>
					</div>
					<div class="w-full flex flex-col ">
						<p class="font-semibold"> Results: </p>
						<div class="w-full flex flex-row justify-stretch text-sm px-4">
							<p id="visited" class="w-full">Visited: </p>
							<p id="left" class="w-full">Left: </p>
						</div>
						<div class="w-full flex flex-row justify-stretch text-sm px-4">
							<p id="iterations" class="w-full">Iterations: </p>
							<p id="time" class="w-full">Time: </p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>